/* Modal */
.modal-body{padding: 0;}
.close{position: absolute;top: 10px;right:10px;z-index: 15;}
/* Image cropper */
.cr-boundary{width:100%!important;text-align: center;}
.croppie-container .cr-viewport, .croppie-container .cr-resizer {
    box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.25);
}
.actionUpload {
    position: relative;
    top: -183px;
    display: inline-block;
    padding: 3px 10px;
    left: calc(50% - 135px);
    z-index: 10;
    cursor: pointer!important;
}
.actionUpload *{cursor: pointer!important;color:#7f7f7f;font-size: 1.4em;}
button input[type="file"],
.button input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

/* Text editor */
.editors-wrap{padding: 0 60px;}
.medium-editor-element {
    width: 100%;
    margin: auto;
}
.editable-title{
    font-size: 1.3em;
}
.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show span {
    margin-top: 0px;
}

@media screen and (max-width: 600px) {
    .modal-dialog{width:90%;}
    .editors-wrap{padding: 0 30px;}
}
